<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #nav {
            width: 100vw;
            border: 1px solid red;
            text-align: center;
        }

        #inventory {
            width: 100%;
            border: 1px solid black;
        }

        #inventory * {
            border: 1px solid black;
        }

        .hidden {
            display: none;
            border: 1px solid red;
        }

        .visible {
            display: block;
        }

    </style>
    <title>Dashboard</title>
</head>
<body>
    <nav id="nav">
        <span>{{ greeting }}</span>
    </nav>

    <div id="table-container">
        {% if tableContents %}
            <table id="inventory">
                <tr>
                    <th>Commodity ID</th>
                    <th>Commodity</th>
                    <th>Original Quantity</th>
                    <th>Current Quantity</th>
                    <th>Rate</th>
                    <th>Restocking Date</th>
                    <th>Last Modification Date</th>
                </tr>
                {% for index in range(tableContents[(tableContents.keys()|list)[0]]|length) %}
                    <tr>
                        {% for attribute in tableContents.keys() %}
                            <td>{{ tableContents[attribute][index] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
            {% else %}
                <p>No content</p>
        {% endif %}
    </div>

    <div id="modification-container">
        <button class="modification-btn" onclick="reveal_addition_wizard()">Add</button>
        <div id="add-container" class="hidden">
            <input type="text" placeholder="Commodity ID">
            <input type="text" placeholder="Commodity name">
            <input type="text" placeholder="Quantity">
            <input type="text" placeholder="Rate">
            <button onclick="verify_and_insert_to_table()" class="modification-btn">Save</button>
        </div>

        <button class="modification-btn">Remove</button>
        <div id="remove-container" class="hidden">
            <input type="text" placeholder="Commodity ID">
            <button onclick="remove_item()" class="modification-btn">Remove</button>
        </div>

        <button class="modification-btn" onclick="reveal_updation_wizard()">Update</button>
        <div id="update-container" class="hidden">
            <input type="text" placeholder="Commodity ID">
            <input type="text" placeholder="New Quantity">
            <button onclick="update_qty()" class="modification-btn">Save</button>
        </div>
    </div>

    <script>

        const cidFormat = /^[a-zA-Z0-9_]+$/;
        const cnameFormat = /^[a-zA-Z0-9_ ]+$/;
        const qtyFormat = /^\d+$/;
        const rateFormat = /^\d+.?\d*$/;

        const btns = document.getElementsByTagName('button');

        const table = document.getElementById('inventory');
        
        function reveal_updation_wizard() {
            document.getElementById('update-container').style.display = 'block';
        }

        function hide_updation_wizard() {
            document.getElementById('update-container').style.display = 'none';
        }

        function reveal_addition_wizard() {
            document.getElementById('add-container').style.display = 'block';
        }

        function hide_addition_wizard() {
            document.getElementById('add-container').style.display = 'none';
        }

        function hide(action, element_id = '') {

            action = action.trim();
            element_id = element_id.trim();

            const idArray = ['add-container', 'update-container', 'remove-container'];

            if(action === 'SELF-HIDE') {
                console.log(1);
                document.getElementById(element_id).classList.add('hidden');
            }
            else if(action === 'SELF-REVEAL') {
                console.log(2);
                document.getElementById(element_id).classList.remove('hidden');

            }
            else if(action === 'OTHERS-HIDE') {
                console.log(3);
                for(let id of idArray)
                    if(id != element_id)
                        document.getElementById(id).classList.add('hidden');

            }
            else if(action === 'OTHERS-REVEAL') {
                console.log(4);
                for(let id of idArray)
                        if(id != element_id)
                            document.getElementById(id).classList.remove('hidden');               

            }
            else if(action === 'ALL-HIDE') {
                console.log(5);
                for(let id of idArray)
                    document.getElementById(id).classList.add('hidden');
                console.log('lmao');
            } 
            else if(action === 'ALL-REVEAL') {
                console.log(6);
                for(let id of idArray)
                    document.getElementById(id).classList.remove('hidden');

            }



        }


        function deactivate_btns() {
            for (const btn of btns)
                btn.disabled = true;
        }

        function activate_btns() {
            for (const btn of btns)
                btn.disabled = false;
        }

        function verify_and_insert_to_table() {
            let allGood = true;
            let errString = 'Enter ';

            let cid = document.getElementById('add-container').children[0].value.trim();
            let cname = document.getElementById('add-container').children[1].value.trim();
            let qty = document.getElementById('add-container').children[2].value.trim();
            let rate = document.getElementById('add-container').children[3].value.trim();


            if(!cidFormat.test(cid)) { errString += 'Commodity ID, '; allGood = false; }
            if(!cnameFormat.test(cname)) { errString += 'Commodity name, '; allGood = false; }
            if(!qtyFormat.test(qty)) { errString += 'Quantity, '; allGood = false; }
            if(!rateFormat.test(rate)) { errString += 'Rate '; allGood = false; }
            errString += 'correctly.';

            if(!allGood) alert(errString);
            else {

                let dateTime = new Date().toLocaleString();
                let array = [cid, cname, qty, qty, rate, dateTime, '-'];
                
                deactivate_btns();

                xhr = new XMLHttpRequest();
                xhr.open("POST", "/add-commodity", false);
                // xhr.onreadystatechange = () => {
                //     if (xhr.readyState === XMLHttpRequest.DONE) {
                        
                //         if(xhr.status === 200) {
                //             location.reload();
                //         }
                //         else {
                //             alert(xhr.responseText);
                //             // hide_addition_wizard();
                //             hide('add-container', 'ALL-HIDE');
                //             activate_btns();
                //         }
                //     }
                // }
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhr.send(`cid=${cid}&cname=${cname}&oqty=${qty}&cqty=${qty}&rate=${rate}&date=${dateTime}&date_mdf=-`);
                if(xhr.status === 200) {
                    location.reload();
                }
                else {
                    alert(xhr.responseText);
                    // hide_addition_wizard();
                    hide('ALL-HIDE');
                    activate_btns();
                }
    
                
            }

        }


        function update_qty() {
            let allGood = true;

            let targetCommodity = document.getElementById('update-container').children[0].value.trim();
            let newQty = document.getElementById('update-container').children[1].value.trim();
            
            if(!cidFormat.test(targetCommodity) || !qtyFormat.test(newQty)) allGood = false;

            if(!allGood) alert('Detail(s) entered in wrong format.');
            else {

                let dateTime = new Date().toLocaleString();

                deactivate_btns();

                xhr = new XMLHttpRequest();
                xhr.open("POST", "/update-commodity", false);
                // xhr.onreadystatechange = () => {
                //     if (xhr.readyState === XMLHttpRequest.DONE) {
                
                //         if(xhr.status === 200) {
                //             location.reload();
                //         }
                //         else {
                //             alert(xhr.responseText);
                //             // hide_addition_wizard();
                //             hide('ALL-HIDE');
                //             activate_btns();
                //         }
                //     }
                // }
                xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                xhr.send(`cid=${targetCommodity}&qty=${newQty}&date=${dateTime}`);

                if(xhr.status === 200) {
                    location.reload();
                }
                else {
                    alert(xhr.responseText);
                    // hide_addition_wizard();
                    hide('ALL-HIDE');
                    activate_btns();
                }
            }
            

        }



    </script>
</body>
</html>